.header{
    position: relative;
    z-index: 1;
    
    //Navigation container
    nav {
        display: flex;
        max-width: 62.5rem;
        top: 0;
        align-items: center;
        padding-top: 1.25rem;
        margin: auto;
    }
    
    //LOGO
    &__logo{
        svg{
            display: flex;
            width: 90px; 
            height: 20px; 
            transition: opacity 300ms ease-in-out;
        }

        &:hover{
         opacity: 0.75;
        }
    }
    
    // Mobile Menu Toggle
    &__toggle {
        cursor: pointer;
        >bar{
            display: block;
            width: 25px;
            height: 3px;
            background-color: $white;
            transition: all 300ms ease-in-out;
            transform-origin: 1px 1.5px;
            box-shadow: 0 1px 5px rgba(0,0,0,0.1);

            &:not(:last-child){
            margin-bottom: 5px;
            }

        }
    }

    //Hamburger Open Styles
    &.open{
        .header__toggle{
            >bar:first-child{
               transform: rotate(45deg);

            }
            >bar:nth-child(2){
               opacity: 0;
               
            }
            >bar:last-child{
               transform: rotate(-45deg);
               
            }
        }

    }
    
    //Desktop nav buttons styles
    .navlist {
        font-weight: 600;
        color: white;
        display: inline-block;
        position: relative;
        padding-left: 0rem;
    }
    
    //Nav button arrangement
    .navitem{
        display: inline-block;

        &:hover ul, &:focus ul{
            opacity: 1;
            visibility: visible;
        }
    }

    //Product menu
    .prod-menu{
       position: absolute;
       background-color: $white;
       column-count: 2;
       column-gap: 50px;
       list-style: none;
       text-align: left;
       height: 255px;
       border-radius: 5px;
       top: 30px;
       transform: translateX(-175px);
       padding-top: 1.25rem;
       box-shadow: 0 2px 5px rgba(0,0,0,0.2);
       opacity: 0;
       visibility: hidden;
       
    }

    //Product menu arrow
    .prod-menu::before{
        position: absolute;
        right: 50%;
        content: " ";
        top: -6px;
        border-radius: 2.5px;
        width: 15px;
        height: 15px;
        background-color: $white;
        transform: rotate(45deg);
        box-shadow: 2px 0px 5px rgba(0.2rem,0,0,0);

    }

    .prod-item {
        display: inline-flex;
        align-items: center;
        margin-bottom: 0.9375rem;
    }

    .item{
        transition: all opacity 300ms ease-in-out;
        :hover , :focus{
           opacity: 0.6;
        }
    }

    .prod-text{
        text-align: left;
        margin-left: 10px;

        .prod-name{
            color: $junglegreen;
            font-weight: 500;
            margin-bottom: -10px;
            word-wrap: normal;
            width: 155px;
        }
        .subtext{
            font-size: 12px;
            color: $graphite;
            font-weight: 400;
            word-wrap: normal;
            line-height: 10px;
            width: 145px;
        }
    }

    //Product menu
    .comp-menu{
        position: absolute;
        background-color: $white;
        list-style: none;
        text-align: left;
        height: 12.5rem;
        border-radius: 5px;
        top: 30px;
        transform: translateX(-50px);
        padding: 1.25rem;
        box-shadow: 0 2px 5px rgba(0,0,0,0.2);
        opacity: 0;
        visibility: hidden;
    }
 
    //Product menu arrow
    .comp-menu::before{
        position: absolute;
        right: 50%;
        content: " ";
        top: -6px;
        border-radius: 2.5px;
        width: 0.9375rem;
        height: 0.9375rem;
        background-color: $white;
        transform: rotate(45deg);
        box-shadow: 2px 0px 5px rgba(0.2rem,0,0,0);
 
    }
 
    .comp-item {
        display: inline-flex;
        align-items: center;
        margin-bottom: 0.9375rem;
    }
 
    .item{
        transition: all opacity 300ms ease-in-out;
        :hover , :focus{
        opacity: 0.6;
        }
    }
 
    .comp-text{
        text-align: left;
        margin-left: 10px;
        word-wrap: normal;
        width: 155px;
        line-height: normal;
        
        .comp-name{
            color: $junglegreen;
            font-weight: 500;
        }
    }
         
    
    //CTA button
    &__cta{
        background-color: $glaceite;
        font-size: $font-sm;
        border: none;
        padding: 4px 22px;
        cursor: pointer;
        font-weight: 600;
        border-radius: 22.5px;
        transition: 300ms ease-in-out;
        box-shadow: 0 1px 5px rgba(0,0,0,0.1);
        a{
            color: $white;
        }

        &:hover{
          background-color: $magnetite;
        }
    }
 

    //Mobile Menu

    .mobile-menu{
        position: absolute;
        background-color: $white;
        display: block;
        text-align: left;
        top: 60px;
        padding: 20px;
        border-radius: 5px;
        width: calc(100% - 2rem);
        left: 50%;
        transform: translateX(-50%);
        box-shadow: 0 2px 5px rgba(0,0,0,0.2);
        transition: 300ms ease-in-out;
        opacity: 0;
        visibility: hidden;
    

        .menu-heading{
            color: $graphite;
            font-weight: 600;
            margin-left: 1.25rem;
            margin-top: 1.25rem;
            cursor: default;

        }
        .products{
            list-style: none;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(12.1875rem, 1fr));
            margin-bottom: 10px;
        }
        .company{
            list-style: none;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(12.1875rem, 1fr));
            margin-bottom: 10px;
        }

    }

    //Mobile menu CTA
    .menucta{//Menu CTA button
        padding: 5px 22px;
        font-size: $font-sm;
        background-color: $junglegreen;
        font-weight: 600;
        transition: 300ms ease-in-out;
        margin-top: 1.25rem;
        margin-left: 1.25rem;
        margin-bottom:1.25rem;

        &:hover{
            color: white;
            background-color: #135744;
        }
    }
    
    //Mobile menu Pricing link
    .pricing-link{
        position: relative;
        font-size: $font-lg;
        font-weight: 600;
        color: $junglegreen;
        margin-left: 1.25rem;
        transition: 300ms all ease-in-out;

        &:hover{
            color: #135744;
        }
    }
  
}
