.hero{
    display: flex;
    max-width: 62rem;
    margin: auto;
    overflow: visible;
    
    .hro-cont{
        width: 100vw;
        

        @include breakpoint-down(small){
            display: flex;
            flex-direction: column;
            align-items: center;
            
        }

        @include breakpoint-down(medium){
            display: flex;
            overflow: visible;
            align-items: center;
            
        }
        @include breakpoint-up(large){
            display: flex;
            overflow: visible;
            align-items: center;
            
        }
    }

    .hro-txt{
        width: 100vw;
        height: fit-content;
        min-width: 17rem;
        max-width: 33rem;
        
        h1{
            font-weight: 600;
            color: $ash;
            line-height: 1;
            font-size: calc(1vw + 2.7rem);
        }

        p{
            padding-top: 1rem;
            font-weight: 300;
            color: $white;
            line-height: 1.3;
            font-size: calc(.25vw + 1rem); 
        }

       
    }

    .hro-cta{
        padding-top: 1.5rem;
        .cta-btn{
            padding: 0.3125rem 1.375rem;
            border: none;
            border-radius: 1.375rem;
            color: $white;
            font-weight: 600;
            font-size: calc(.25vw + .8rem);
            background-color: $glaceite;
            margin-left: -1.25rem;
            
            &:hover{
              background-color: $magnetite;
            }
        }
    }

    .hro-img{
        height: auto;
        max-width: 30rem;
        min-width: 55rem;
        padding-top: 3rem;
        padding-bottom: 3rem;
        margin-left: -1rem;

    }

    .hro-img-sm{
        width: 100%;
        height: auto;
        max-width: 32rem;
    }

}
