.scn-2{
    .sb-hdng{
        color: #6DD400;
        font-size: calc(.25vw + .8rem);
    }

    .hdng{
        color: #000000;
        font-size: calc(.25vw + 1.6rem);
    }

    .cpy{
        color: #000000;
        font-size: calc(.25vw + 1rem);


        .hlt{
            color: #6DD400;

        }
    }

}