.scn-5{
    .sb-hdng{
        color: #F7B500;
        font-size: calc(.25vw + .8rem);
    }

    .hdng{
        color: #ffffff;
        font-size: calc(.25vw + 1.6rem);
    }

    .scn-5-img{
        height: auto;
        max-width: 25rem;
        min-width: 55rem;
        //padding-top: 3rem;
        //padding-bottom: 3rem;
        

    }
}