.scn-1{
    .hdng{
        display: flex;
        width: fit-content;
        max-width: 31rem;
        padding: 0;
        margin: auto;
        color: #000000; //#29ab87
        font-weight: 500;
        font-size: calc(.25vw + 1.2rem);

    }
}