html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  --leftforDD: 0;
  --leftforArrow: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #000000;
  line-height: 1.0;
  margin: 0;
  padding: 0;
  height: 100vh;
  z-index: -100;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

.container {
  padding-top: 2.25rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 2.25rem;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h1, h2, h3 {
  margin: 0;
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

@-webkit-keyframes floating {
  from {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
  65% {
    -webkit-transform: translate(0, 15px);
            transform: translate(0, 15px);
  }
  to {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
}

@keyframes floating {
  from {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
  65% {
    -webkit-transform: translate(0, 15px);
            transform: translate(0, 15px);
  }
  to {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 14px #29AB8733;
            box-shadow: 0 0 14px #29AB8733;
  }
  50% {
    -webkit-box-shadow: 0 0 14px 6px #29AB87e6;
            box-shadow: 0 0 14px 6px #29AB87e6;
  }
  100% {
    -webkit-box-shadow: 0 0 14px #29AB8733;
            box-shadow: 0 0 14px #29AB8733;
  }
}

@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 14px #29AB8733;
            box-shadow: 0 0 14px #29AB8733;
  }
  50% {
    -webkit-box-shadow: 0 0 14px 6px #29AB87e6;
            box-shadow: 0 0 14px 6px #29AB87e6;
  }
  100% {
    -webkit-box-shadow: 0 0 14px #29AB8733;
            box-shadow: 0 0 14px #29AB8733;
  }
}

@-webkit-keyframes star-movement {
  0% {
    -webkit-transform: scale(0.5) translateZ(0);
            transform: scale(0.5) translateZ(0);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(2) translateZ(0);
            transform: scale(2) translateZ(0);
    opacity: 0;
  }
}

@keyframes star-movement {
  0% {
    -webkit-transform: scale(0.5) translateZ(0);
            transform: scale(0.5) translateZ(0);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(2) translateZ(0);
            transform: scale(2) translateZ(0);
    opacity: 0;
  }
}

@-webkit-keyframes direction-movement {
  from {
    -webkit-transform-origin: -20vw -16vh;
            transform-origin: -20vw -16vh;
  }
  to {
    -webkit-transform-origin: 33vw 2vh;
            transform-origin: 33vw 2vh;
  }
}

@keyframes direction-movement {
  from {
    -webkit-transform-origin: -20vw -16vh;
            transform-origin: -20vw -16vh;
  }
  to {
    -webkit-transform-origin: 33vw 2vh;
            transform-origin: 33vw 2vh;
  }
}

.error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 62rem;
  margin: auto;
  height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.error .err-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  gap: 5rem;
  overflow: visible;
  z-index: 1;
}

@media (max-width: 39.9375em) {
  .error .err-cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0;
  }
}

@media (max-width: 63.9375em) {
  .error .err-cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0;
  }
}

@media (min-width: 64em) {
  .error .err-cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: visible;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.error .err-cont .err-txt {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-width: 5rem;
  max-width: 40rem;
  justify-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.error .err-cont .err-txt h1 {
  font-weight: 600;
  color: #29ab87;
  line-height: 1;
  font-size: calc(1vw + 2.5rem);
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.error .err-cont .err-txt p {
  font-weight: 300;
  color: #ffffff;
  line-height: 1.3;
  font-size: calc(.5vw + 1rem);
  text-align: center;
}

.error .err-cont .err-txt span {
  color: #29ab87;
  font-weight: 600;
  font-size: calc(.5vw + 1.1rem);
}

.error .err-cont .err-txt .err-cta {
  margin: 2rem auto 2rem auto;
}

.error .err-cont .err-txt .err-cta .cta-btn {
  height: calc(1vw + 8rem);
  width: calc(1vw + 8rem);
  border-radius: 50%;
  background-color: transparent;
  animation: pulse 2s infinite ease-in-out;
  -webkit-animation: pulse 2s infinite ease-in-out;
}

.error .err-cont .err-txt .err-cta .cta-btn .cta-lnk {
  color: #ffffff;
  font-size: calc(1vw + .9rem);
  font-weight: 600;
}

.error .err-cont .err-txt .err-cta .cta-btn:hover {
  background-color: #29ab8780;
}

.error .err-cont .err-img {
  height: auto;
  max-width: 15rem;
  min-width: 15rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.error .err-cont .err-img-sm {
  width: 100%;
  height: 100%;
  max-width: 15rem;
  min-width: 10rem;
}

.error .floating {
  -webkit-animation-name: floating;
          animation-name: floating;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.error .ftr {
  z-index: 1;
  display: block;
}

.error .ftr .ftr-txt {
  color: #dcdcdc;
  font-size: calc(.25vw + .7rem);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
  text-justify: inter-word;
  -webkit-text-emphasis: smooth;
          text-emphasis: smooth;
}

.error .ftr .ftr-txt span {
  color: #ffffff;
  font-weight: 600;
  font-size: calc(.25vw + .8rem);
  text-decoration: underline;
}

.error .ftr .ftr-txt span:hover {
  color: #29ab87;
}

.starfield {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -10;
}

.starfield .static {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 3px;
  height: 3px;
  border-radius: 100%;
  -webkit-transform-origin: 39vw 26vh;
          transform-origin: 39vw 26vh;
  -webkit-box-shadow: -71vw 77vh 1px 0.75px #fcf8f2, 88vw -10vh 1px 0.75px #f5fbfc, -80vw -97vh 1px 0.75px rgba(249, 241, 248, 0.578979), -56vw -7vh 1px 0.75px #f9fafe, 51vw -31vh 1px 0.75px #f5fcf1, 19vw -10vh 1px 0.75px #f1f1fe, 10vw -51vh 1px 0.75px rgba(249, 244, 251, 0.834963), -71vw -80vh 1px 0.75px rgba(241, 242, 241, 0.833774), 87vw -56vh 1px 0.75px #fbfef8, -46vw 21vh 1px 0.75px #fcfbfc, -90vw -31vh 1px 0.75px #f5f3fc, 53vw -44vh 1px 0.75px rgba(242, 244, 241, 0.830457), 48vw -41vh 1px 0.75px #f3f5fa, -74vw 36vh 1px 0.75px #f5f9f2, -23vw -31vh 1px 0.75px rgba(250, 247, 246, 0.654378), -11vw -68vh 1px 0.75px rgba(242, 252, 252, 0.983249), 36vw -80vh 1px 0.75px rgba(250, 246, 247, 0.679067), 59vw 29vh 1px 0.75px #fcfff5, -82vw 26vh 1px 0.75px rgba(248, 252, 242, 0.663739), 76vw -40vh 1px 0.75px #fdfafd, 92vw 59vh 1px 0.75px #fff8f3, 3vw -15vh 1px 0.75px rgba(247, 251, 249, 0.77531), 43vw -13vh 1px 0.75px rgba(251, 254, 255, 0.814716), 78vw -51vh 1px 0.75px rgba(255, 253, 255, 0.526576), 75vw -4vh 1px 0.75px rgba(248, 252, 252, 0.643374), 1vw 94vh 1px 0.75px #f2f5f1, 50vw -18vh 1px 0.75px rgba(248, 246, 242, 0.870937), -4vw -76vh 1px 0.75px rgba(254, 245, 252, 0.818131), 67vw 82vh 1px 0.75px #fafefb, 63vw -42vh 1px 0.75px #f2f7f5, 32vw 41vh 1px 0.75px rgba(248, 253, 252, 0.573806), 56vw -55vh 1px 0.75px rgba(241, 254, 248, 0.808041), 84vw -94vh 1px 0.75px rgba(251, 248, 247, 0.696203), -45vw -68vh 1px 0.75px #fbfcf9, -73vw 22vh 1px 0.75px rgba(247, 241, 254, 0.871612), 44vw 40vh 1px 0.75px rgba(250, 252, 252, 0.651902), -96vw 6vh 1px 0.75px rgba(249, 249, 252, 0.802124), -51vw -25vh 1px 0.75px #f8f8f5, 45vw 70vh 1px 0.75px rgba(254, 247, 244, 0.702832), 18vw -82vh 1px 0.75px #fafffb, 56vw -87vh 1px 0.75px rgba(254, 243, 250, 0.845486), -2vw 34vh 1px 0.75px #fcf2fa, 96vw -51vh 1px 0.75px #fff1f7, 12vw 9vh 1px 0.75px rgba(254, 248, 242, 0.534847), -29vw 91vh 1px 0.75px rgba(243, 246, 254, 0.65117), 19vw -4vh 1px 0.75px #f8fdfd, -48vw 54vh 1px 0.75px rgba(254, 241, 255, 0.9451), 69vw -63vh 1px 0.75px rgba(255, 251, 241, 0.573503), 52vw 88vh 1px 0.75px rgba(252, 248, 243, 0.579846), -96vw 11vh 1px 0.75px #fdfbf9, -91vw -47vh 1px 0.75px rgba(254, 245, 246, 0.826963), 50vw -90vh 1px 0.75px #f4f4f1, 58vw -67vh 1px 0.75px rgba(244, 252, 245, 0.616807), 32vw -91vh 1px 0.75px #f9f6fa, 39vw 100vh 1px 0.75px #fbfcfd, -17vw 0vh 1px 0.75px #f4f5fc, -52vw -94vh 1px 0.75px #f9f7f9, -84vw 29vh 1px 0.75px #f1f2ff, -28vw 3vh 1px 0.75px #f3f9f3, 89vw -86vh 1px 0.75px #f9f2fd, 89vw -40vh 1px 0.75px rgba(249, 243, 251, 0.758411), -63vw -49vh 1px 0.75px #fcf1fc, 88vw 50vh 1px 0.75px #f8f9f6, -30vw 66vh 1px 0.75px rgba(247, 247, 251, 0.88869), -55vw 15vh 1px 0.75px #f5fff1, 56vw 29vh 1px 0.75px rgba(254, 250, 249, 0.903688), 25vw 73vh 1px 0.75px rgba(245, 241, 242, 0.702726), -78vw 92vh 1px 0.75px rgba(242, 246, 241, 0.878797), 51vw -17vh 1px 0.75px #f4fefd, 98vw 98vh 1px 0.75px #f2f8fa, -11vw -91vh 1px 0.75px #f3f2f5, -51vw 11vh 1px 0.75px #f7f4f1, 87vw -30vh 1px 0.75px #f3fbf8, 63vw 69vh 1px 0.75px #f9fef4, 59vw 26vh 1px 0.75px #fdf5f4, 44vw 38vh 1px 0.75px #fff6f4, 63vw -29vh 1px 0.75px rgba(243, 248, 255, 0.744168), -90vw -76vh 1px 0.75px rgba(249, 249, 244, 0.729978), 48vw 23vh 1px 0.75px rgba(245, 245, 254, 0.807559), -64vw -16vh 1px 0.75px #fefff1, -99vw 7vh 1px 0.75px #f1f7f1, -28vw 91vh 1px 0.75px #f3f3f1, 31vw 60vh 1px 0.75px #faf1f9, -81vw 7vh 1px 0.75px rgba(251, 252, 252, 0.91139), 11vw 73vh 1px 0.75px #f9fdf9, 33vw -2vh 1px 0.75px rgba(246, 254, 252, 0.812422), -75vw -75vh 1px 0.75px rgba(246, 243, 253, 0.661775), 77vw 68vh 1px 0.75px rgba(250, 255, 247, 0.604193), 39vw -56vh 1px 0.75px #fffffe, 25vw 89vh 1px 0.75px rgba(253, 252, 244, 0.636471), -53vw -41vh 1px 0.75px #f8fefa, 52vw 50vh 1px 0.75px rgba(254, 255, 254, 0.706833), -4vw 21vh 1px 0.75px #f1f7ff, -54vw 27vh 1px 0.75px #f5f6f4, 24vw 89vh 1px 0.75px rgba(244, 255, 241, 0.962307), -13vw 41vh 1px 0.75px rgba(247, 255, 255, 0.818654), 12vw -41vh 1px 0.75px rgba(246, 241, 252, 0.86825), 16vw -90vh 1px 0.75px rgba(244, 244, 248, 0.723732), 18vw 93vh 1px 0.75px rgba(247, 255, 255, 0.999632), 7vw 64vh 1px 0.75px #fef8f1;
          box-shadow: -71vw 77vh 1px 0.75px #fcf8f2, 88vw -10vh 1px 0.75px #f5fbfc, -80vw -97vh 1px 0.75px rgba(249, 241, 248, 0.578979), -56vw -7vh 1px 0.75px #f9fafe, 51vw -31vh 1px 0.75px #f5fcf1, 19vw -10vh 1px 0.75px #f1f1fe, 10vw -51vh 1px 0.75px rgba(249, 244, 251, 0.834963), -71vw -80vh 1px 0.75px rgba(241, 242, 241, 0.833774), 87vw -56vh 1px 0.75px #fbfef8, -46vw 21vh 1px 0.75px #fcfbfc, -90vw -31vh 1px 0.75px #f5f3fc, 53vw -44vh 1px 0.75px rgba(242, 244, 241, 0.830457), 48vw -41vh 1px 0.75px #f3f5fa, -74vw 36vh 1px 0.75px #f5f9f2, -23vw -31vh 1px 0.75px rgba(250, 247, 246, 0.654378), -11vw -68vh 1px 0.75px rgba(242, 252, 252, 0.983249), 36vw -80vh 1px 0.75px rgba(250, 246, 247, 0.679067), 59vw 29vh 1px 0.75px #fcfff5, -82vw 26vh 1px 0.75px rgba(248, 252, 242, 0.663739), 76vw -40vh 1px 0.75px #fdfafd, 92vw 59vh 1px 0.75px #fff8f3, 3vw -15vh 1px 0.75px rgba(247, 251, 249, 0.77531), 43vw -13vh 1px 0.75px rgba(251, 254, 255, 0.814716), 78vw -51vh 1px 0.75px rgba(255, 253, 255, 0.526576), 75vw -4vh 1px 0.75px rgba(248, 252, 252, 0.643374), 1vw 94vh 1px 0.75px #f2f5f1, 50vw -18vh 1px 0.75px rgba(248, 246, 242, 0.870937), -4vw -76vh 1px 0.75px rgba(254, 245, 252, 0.818131), 67vw 82vh 1px 0.75px #fafefb, 63vw -42vh 1px 0.75px #f2f7f5, 32vw 41vh 1px 0.75px rgba(248, 253, 252, 0.573806), 56vw -55vh 1px 0.75px rgba(241, 254, 248, 0.808041), 84vw -94vh 1px 0.75px rgba(251, 248, 247, 0.696203), -45vw -68vh 1px 0.75px #fbfcf9, -73vw 22vh 1px 0.75px rgba(247, 241, 254, 0.871612), 44vw 40vh 1px 0.75px rgba(250, 252, 252, 0.651902), -96vw 6vh 1px 0.75px rgba(249, 249, 252, 0.802124), -51vw -25vh 1px 0.75px #f8f8f5, 45vw 70vh 1px 0.75px rgba(254, 247, 244, 0.702832), 18vw -82vh 1px 0.75px #fafffb, 56vw -87vh 1px 0.75px rgba(254, 243, 250, 0.845486), -2vw 34vh 1px 0.75px #fcf2fa, 96vw -51vh 1px 0.75px #fff1f7, 12vw 9vh 1px 0.75px rgba(254, 248, 242, 0.534847), -29vw 91vh 1px 0.75px rgba(243, 246, 254, 0.65117), 19vw -4vh 1px 0.75px #f8fdfd, -48vw 54vh 1px 0.75px rgba(254, 241, 255, 0.9451), 69vw -63vh 1px 0.75px rgba(255, 251, 241, 0.573503), 52vw 88vh 1px 0.75px rgba(252, 248, 243, 0.579846), -96vw 11vh 1px 0.75px #fdfbf9, -91vw -47vh 1px 0.75px rgba(254, 245, 246, 0.826963), 50vw -90vh 1px 0.75px #f4f4f1, 58vw -67vh 1px 0.75px rgba(244, 252, 245, 0.616807), 32vw -91vh 1px 0.75px #f9f6fa, 39vw 100vh 1px 0.75px #fbfcfd, -17vw 0vh 1px 0.75px #f4f5fc, -52vw -94vh 1px 0.75px #f9f7f9, -84vw 29vh 1px 0.75px #f1f2ff, -28vw 3vh 1px 0.75px #f3f9f3, 89vw -86vh 1px 0.75px #f9f2fd, 89vw -40vh 1px 0.75px rgba(249, 243, 251, 0.758411), -63vw -49vh 1px 0.75px #fcf1fc, 88vw 50vh 1px 0.75px #f8f9f6, -30vw 66vh 1px 0.75px rgba(247, 247, 251, 0.88869), -55vw 15vh 1px 0.75px #f5fff1, 56vw 29vh 1px 0.75px rgba(254, 250, 249, 0.903688), 25vw 73vh 1px 0.75px rgba(245, 241, 242, 0.702726), -78vw 92vh 1px 0.75px rgba(242, 246, 241, 0.878797), 51vw -17vh 1px 0.75px #f4fefd, 98vw 98vh 1px 0.75px #f2f8fa, -11vw -91vh 1px 0.75px #f3f2f5, -51vw 11vh 1px 0.75px #f7f4f1, 87vw -30vh 1px 0.75px #f3fbf8, 63vw 69vh 1px 0.75px #f9fef4, 59vw 26vh 1px 0.75px #fdf5f4, 44vw 38vh 1px 0.75px #fff6f4, 63vw -29vh 1px 0.75px rgba(243, 248, 255, 0.744168), -90vw -76vh 1px 0.75px rgba(249, 249, 244, 0.729978), 48vw 23vh 1px 0.75px rgba(245, 245, 254, 0.807559), -64vw -16vh 1px 0.75px #fefff1, -99vw 7vh 1px 0.75px #f1f7f1, -28vw 91vh 1px 0.75px #f3f3f1, 31vw 60vh 1px 0.75px #faf1f9, -81vw 7vh 1px 0.75px rgba(251, 252, 252, 0.91139), 11vw 73vh 1px 0.75px #f9fdf9, 33vw -2vh 1px 0.75px rgba(246, 254, 252, 0.812422), -75vw -75vh 1px 0.75px rgba(246, 243, 253, 0.661775), 77vw 68vh 1px 0.75px rgba(250, 255, 247, 0.604193), 39vw -56vh 1px 0.75px #fffffe, 25vw 89vh 1px 0.75px rgba(253, 252, 244, 0.636471), -53vw -41vh 1px 0.75px #f8fefa, 52vw 50vh 1px 0.75px rgba(254, 255, 254, 0.706833), -4vw 21vh 1px 0.75px #f1f7ff, -54vw 27vh 1px 0.75px #f5f6f4, 24vw 89vh 1px 0.75px rgba(244, 255, 241, 0.962307), -13vw 41vh 1px 0.75px rgba(247, 255, 255, 0.818654), 12vw -41vh 1px 0.75px rgba(246, 241, 252, 0.86825), 16vw -90vh 1px 0.75px rgba(244, 244, 248, 0.723732), 18vw 93vh 1px 0.75px rgba(247, 255, 255, 0.999632), 7vw 64vh 1px 0.75px #fef8f1;
  width: 1px;
  height: 1px;
}

.starfield .moving-1 {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 3px;
  height: 3px;
  border-radius: 100%;
  -webkit-transform-origin: 39vw 26vh;
          transform-origin: 39vw 26vh;
  -webkit-box-shadow: -39vw -68vh 1px 0.75px rgba(255, 253, 253, 0.705671), -66vw -26vh 1px 0.75px #fbf4fe, 59vw 92vh 1px 0.75px #f8fffa, -14vw -23vh 1px 0.75px rgba(244, 244, 247, 0.605931), 29vw 55vh 1px 0.75px rgba(250, 245, 252, 0.673961), -30vw 62vh 1px 0.75px #f1f9f8, 99vw 27vh 1px 0.75px #f5f1f3, 81vw -59vh 1px 0.75px #f7f4fb, 38vw 52vh 1px 0.75px #fff9f8, -53vw -39vh 1px 0.75px #fcfafe, 54vw 43vh 1px 0.75px #f2fdff, -96vw -88vh 1px 0.75px #fbfdfe, 70vw -32vh 1px 0.75px #fef6fc, 77vw -96vh 1px 0.75px rgba(242, 244, 242, 0.939762), 24vw -55vh 1px 0.75px rgba(244, 244, 246, 0.865128), -42vw -91vh 1px 0.75px #fbfcfb, 79vw -28vh 1px 0.75px rgba(244, 254, 241, 0.980014), -47vw -91vh 1px 0.75px #fdf6f5, 43vw -43vh 1px 0.75px rgba(254, 249, 246, 0.936716), -17vw -23vh 1px 0.75px #f7f1f3, 41vw 0vh 1px 0.75px #f6fdf8, -61vw -98vh 1px 0.75px rgba(245, 247, 251, 0.943138), -57vw 93vh 1px 0.75px #fff5f3, 30vw -57vh 1px 0.75px rgba(251, 248, 247, 0.57039), 86vw 95vh 1px 0.75px #f2f3fa, 94vw -2vh 1px 0.75px #fdf8f1, 14vw 67vh 1px 0.75px #fcfff4, 76vw -94vh 1px 0.75px #fdfefc, -78vw 71vh 1px 0.75px #f2f1f6, 70vw -4vh 1px 0.75px #fff7fe, 18vw -69vh 1px 0.75px #f6feff, 91vw 3vh 1px 0.75px rgba(242, 250, 241, 0.990135), -67vw -78vh 1px 0.75px #f8f6f1, -70vw 49vh 1px 0.75px rgba(250, 246, 244, 0.937858), -3vw 89vh 1px 0.75px rgba(241, 251, 254, 0.54795), -20vw 22vh 1px 0.75px #fefdfa, 78vw 78vh 1px 0.75px #fdf7fb, 20vw 90vh 1px 0.75px #fcf6f1, -8vw 4vh 1px 0.75px #fbfef4, -1vw -10vh 1px 0.75px rgba(248, 254, 254, 0.881581), -17vw 81vh 1px 0.75px #f7f9f1, -95vw 100vh 1px 0.75px rgba(253, 248, 242, 0.88535), 38vw -9vh 1px 0.75px #f5f9fd, -92vw 84vh 1px 0.75px rgba(247, 251, 243, 0.66416), -16vw -8vh 1px 0.75px rgba(241, 251, 243, 0.822989), -64vw 45vh 1px 0.75px #fbfffd, 95vw -80vh 1px 0.75px rgba(246, 249, 244, 0.903806), -91vw 48vh 1px 0.75px #fbfcf5, -54vw 84vh 1px 0.75px #f2f8f8, 22vw -4vh 1px 0.75px #f1fbf3, 30vw -27vh 1px 0.75px #f6f1fb, 14vw 81vh 1px 0.75px rgba(253, 248, 249, 0.537305), 14vw -93vh 1px 0.75px #f3fbf1, -9vw 12vh 1px 0.75px rgba(248, 243, 252, 0.60512), 12vw -51vh 1px 0.75px rgba(253, 245, 247, 0.613217), 75vw 49vh 1px 0.75px #f9fff8, -98vw -67vh 1px 0.75px #f9f8f9, -13vw 22vh 1px 0.75px rgba(255, 247, 246, 0.806182), -82vw -21vh 1px 0.75px #faf1fb, 27vw -14vh 1px 0.75px rgba(244, 248, 253, 0.813979), 18vw 48vh 1px 0.75px #f7f3f8, 58vw 18vh 1px 0.75px #f9f3fb, -40vw -32vh 1px 0.75px rgba(248, 250, 246, 0.934971), -13vw -48vh 1px 0.75px rgba(245, 247, 253, 0.84446), 19vw 36vh 1px 0.75px rgba(249, 248, 247, 0.999491), 28vw -90vh 1px 0.75px #f9f5f1, -36vw 69vh 1px 0.75px rgba(245, 244, 246, 0.553045), 39vw -49vh 1px 0.75px #fbfcf2, -33vw -10vh 1px 0.75px #f1f2f4, -12vw 57vh 1px 0.75px #fafef1, 36vw 42vh 1px 0.75px #fbf8f2, 9vw -96vh 1px 0.75px #f7faf7, 34vw 6vh 1px 0.75px rgba(255, 255, 252, 0.952625), -88vw -18vh 1px 0.75px #fcf1f8, 74vw -5vh 1px 0.75px #fff3f1, -64vw -23vh 1px 0.75px rgba(250, 247, 242, 0.532053), -44vw 53vh 1px 0.75px #f5fff5, 72vw 71vh 1px 0.75px rgba(255, 254, 254, 0.646022), 98vw 32vh 1px 0.75px rgba(243, 247, 255, 0.95247), -22vw 15vh 1px 0.75px rgba(251, 252, 247, 0.565367), 68vw -17vh 1px 0.75px #fcfaf2, 75vw 97vh 1px 0.75px rgba(246, 251, 246, 0.626012), -3vw 90vh 1px 0.75px #f8faf8, 46vw 6vh 1px 0.75px rgba(247, 248, 250, 0.66944), -26vw -18vh 1px 0.75px #fef7f6, -51vw -93vh 1px 0.75px rgba(252, 251, 244, 0.66675), -93vw 1vh 1px 0.75px #f4fdf1, -73vw -1vh 1px 0.75px #fff2ff, -59vw 94vh 1px 0.75px #f8fdf6, 29vw 50vh 1px 0.75px rgba(243, 247, 246, 0.566199), -6vw 77vh 1px 0.75px rgba(251, 242, 255, 0.659912), 67vw -18vh 1px 0.75px rgba(245, 251, 252, 0.99179), 6vw 65vh 1px 0.75px #fbfff2, 70vw -5vh 1px 0.75px #f2fdfd, -57vw 90vh 1px 0.75px #f8fafd, 65vw 5vh 1px 0.75px rgba(248, 242, 246, 0.627068), 98vw -82vh 1px 0.75px #f9f1f7, -72vw -25vh 1px 0.75px #fcfdf5, 6vw 48vh 1px 0.75px #f5f3ff, 82vw 82vh 1px 0.75px #f1fcf2;
          box-shadow: -39vw -68vh 1px 0.75px rgba(255, 253, 253, 0.705671), -66vw -26vh 1px 0.75px #fbf4fe, 59vw 92vh 1px 0.75px #f8fffa, -14vw -23vh 1px 0.75px rgba(244, 244, 247, 0.605931), 29vw 55vh 1px 0.75px rgba(250, 245, 252, 0.673961), -30vw 62vh 1px 0.75px #f1f9f8, 99vw 27vh 1px 0.75px #f5f1f3, 81vw -59vh 1px 0.75px #f7f4fb, 38vw 52vh 1px 0.75px #fff9f8, -53vw -39vh 1px 0.75px #fcfafe, 54vw 43vh 1px 0.75px #f2fdff, -96vw -88vh 1px 0.75px #fbfdfe, 70vw -32vh 1px 0.75px #fef6fc, 77vw -96vh 1px 0.75px rgba(242, 244, 242, 0.939762), 24vw -55vh 1px 0.75px rgba(244, 244, 246, 0.865128), -42vw -91vh 1px 0.75px #fbfcfb, 79vw -28vh 1px 0.75px rgba(244, 254, 241, 0.980014), -47vw -91vh 1px 0.75px #fdf6f5, 43vw -43vh 1px 0.75px rgba(254, 249, 246, 0.936716), -17vw -23vh 1px 0.75px #f7f1f3, 41vw 0vh 1px 0.75px #f6fdf8, -61vw -98vh 1px 0.75px rgba(245, 247, 251, 0.943138), -57vw 93vh 1px 0.75px #fff5f3, 30vw -57vh 1px 0.75px rgba(251, 248, 247, 0.57039), 86vw 95vh 1px 0.75px #f2f3fa, 94vw -2vh 1px 0.75px #fdf8f1, 14vw 67vh 1px 0.75px #fcfff4, 76vw -94vh 1px 0.75px #fdfefc, -78vw 71vh 1px 0.75px #f2f1f6, 70vw -4vh 1px 0.75px #fff7fe, 18vw -69vh 1px 0.75px #f6feff, 91vw 3vh 1px 0.75px rgba(242, 250, 241, 0.990135), -67vw -78vh 1px 0.75px #f8f6f1, -70vw 49vh 1px 0.75px rgba(250, 246, 244, 0.937858), -3vw 89vh 1px 0.75px rgba(241, 251, 254, 0.54795), -20vw 22vh 1px 0.75px #fefdfa, 78vw 78vh 1px 0.75px #fdf7fb, 20vw 90vh 1px 0.75px #fcf6f1, -8vw 4vh 1px 0.75px #fbfef4, -1vw -10vh 1px 0.75px rgba(248, 254, 254, 0.881581), -17vw 81vh 1px 0.75px #f7f9f1, -95vw 100vh 1px 0.75px rgba(253, 248, 242, 0.88535), 38vw -9vh 1px 0.75px #f5f9fd, -92vw 84vh 1px 0.75px rgba(247, 251, 243, 0.66416), -16vw -8vh 1px 0.75px rgba(241, 251, 243, 0.822989), -64vw 45vh 1px 0.75px #fbfffd, 95vw -80vh 1px 0.75px rgba(246, 249, 244, 0.903806), -91vw 48vh 1px 0.75px #fbfcf5, -54vw 84vh 1px 0.75px #f2f8f8, 22vw -4vh 1px 0.75px #f1fbf3, 30vw -27vh 1px 0.75px #f6f1fb, 14vw 81vh 1px 0.75px rgba(253, 248, 249, 0.537305), 14vw -93vh 1px 0.75px #f3fbf1, -9vw 12vh 1px 0.75px rgba(248, 243, 252, 0.60512), 12vw -51vh 1px 0.75px rgba(253, 245, 247, 0.613217), 75vw 49vh 1px 0.75px #f9fff8, -98vw -67vh 1px 0.75px #f9f8f9, -13vw 22vh 1px 0.75px rgba(255, 247, 246, 0.806182), -82vw -21vh 1px 0.75px #faf1fb, 27vw -14vh 1px 0.75px rgba(244, 248, 253, 0.813979), 18vw 48vh 1px 0.75px #f7f3f8, 58vw 18vh 1px 0.75px #f9f3fb, -40vw -32vh 1px 0.75px rgba(248, 250, 246, 0.934971), -13vw -48vh 1px 0.75px rgba(245, 247, 253, 0.84446), 19vw 36vh 1px 0.75px rgba(249, 248, 247, 0.999491), 28vw -90vh 1px 0.75px #f9f5f1, -36vw 69vh 1px 0.75px rgba(245, 244, 246, 0.553045), 39vw -49vh 1px 0.75px #fbfcf2, -33vw -10vh 1px 0.75px #f1f2f4, -12vw 57vh 1px 0.75px #fafef1, 36vw 42vh 1px 0.75px #fbf8f2, 9vw -96vh 1px 0.75px #f7faf7, 34vw 6vh 1px 0.75px rgba(255, 255, 252, 0.952625), -88vw -18vh 1px 0.75px #fcf1f8, 74vw -5vh 1px 0.75px #fff3f1, -64vw -23vh 1px 0.75px rgba(250, 247, 242, 0.532053), -44vw 53vh 1px 0.75px #f5fff5, 72vw 71vh 1px 0.75px rgba(255, 254, 254, 0.646022), 98vw 32vh 1px 0.75px rgba(243, 247, 255, 0.95247), -22vw 15vh 1px 0.75px rgba(251, 252, 247, 0.565367), 68vw -17vh 1px 0.75px #fcfaf2, 75vw 97vh 1px 0.75px rgba(246, 251, 246, 0.626012), -3vw 90vh 1px 0.75px #f8faf8, 46vw 6vh 1px 0.75px rgba(247, 248, 250, 0.66944), -26vw -18vh 1px 0.75px #fef7f6, -51vw -93vh 1px 0.75px rgba(252, 251, 244, 0.66675), -93vw 1vh 1px 0.75px #f4fdf1, -73vw -1vh 1px 0.75px #fff2ff, -59vw 94vh 1px 0.75px #f8fdf6, 29vw 50vh 1px 0.75px rgba(243, 247, 246, 0.566199), -6vw 77vh 1px 0.75px rgba(251, 242, 255, 0.659912), 67vw -18vh 1px 0.75px rgba(245, 251, 252, 0.99179), 6vw 65vh 1px 0.75px #fbfff2, 70vw -5vh 1px 0.75px #f2fdfd, -57vw 90vh 1px 0.75px #f8fafd, 65vw 5vh 1px 0.75px rgba(248, 242, 246, 0.627068), 98vw -82vh 1px 0.75px #f9f1f7, -72vw -25vh 1px 0.75px #fcfdf5, 6vw 48vh 1px 0.75px #f5f3ff, 82vw 82vh 1px 0.75px #f1fcf2;
  -webkit-animation: star-movement 9s cubic-bezier(0.55, 0, 1, 0.45) infinite, direction-movement 30s ease-in-out alternate infinite;
          animation: star-movement 9s cubic-bezier(0.55, 0, 1, 0.45) infinite, direction-movement 30s ease-in-out alternate infinite;
}

.starfield .moving-2 {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 3px;
  height: 3px;
  border-radius: 100%;
  -webkit-transform-origin: 39vw 26vh;
          transform-origin: 39vw 26vh;
  -webkit-box-shadow: -40vw -53vh 1px 0.75px #f5f8fe, -12vw 78vh 1px 0.75px rgba(252, 245, 245, 0.761725), -10vw 11vh 1px 0.75px rgba(255, 255, 254, 0.925921), -32vw -35vh 1px 0.75px rgba(249, 246, 241, 0.765241), 19vw -46vh 1px 0.75px rgba(245, 245, 243, 0.841575), -54vw -33vh 1px 0.75px #fbf6f5, 96vw -14vh 1px 0.75px #f4fffc, -52vw 83vh 1px 0.75px #fdf9f6, -17vw -87vh 1px 0.75px #f2f5fb, 46vw -67vh 1px 0.75px #f7f3ff, 99vw -81vh 1px 0.75px #fbfefb, -68vw 72vh 1px 0.75px rgba(253, 255, 242, 0.647721), -63vw 3vh 1px 0.75px rgba(247, 250, 248, 0.897097), 83vw -54vh 1px 0.75px #f8f9f9, 15vw 39vh 1px 0.75px #f7fef2, -64vw -33vh 1px 0.75px #f7fbf4, 27vw 99vh 1px 0.75px rgba(252, 250, 241, 0.781975), -60vw 85vh 1px 0.75px rgba(254, 242, 243, 0.722099), 5vw -26vh 1px 0.75px #fff8f3, 18vw 22vh 1px 0.75px rgba(254, 243, 253, 0.593943), 16vw -99vh 1px 0.75px #fffafb, 41vw 34vh 1px 0.75px #f8fdfa, -92vw -42vh 1px 0.75px rgba(244, 243, 242, 0.642372), 21vw -70vh 1px 0.75px #fefcf7, 27vw 86vh 1px 0.75px rgba(247, 254, 241, 0.585974), -27vw -3vh 1px 0.75px rgba(245, 254, 249, 0.99462), 80vw 11vh 1px 0.75px rgba(241, 247, 241, 0.665206), -35vw 78vh 1px 0.75px rgba(244, 251, 251, 0.561289), -2vw 93vh 1px 0.75px rgba(254, 250, 247, 0.897934), 41vw -88vh 1px 0.75px #fdfdfa, -50vw 53vh 1px 0.75px #f1f3f4, 14vw -44vh 1px 0.75px #fef7f6, -40vw -80vh 1px 0.75px rgba(242, 254, 254, 0.610565), 61vw 25vh 1px 0.75px #f8f2f9, -40vw -66vh 1px 0.75px #fcf5f6, -75vw -16vh 1px 0.75px rgba(246, 247, 252, 0.898946), -88vw 83vh 1px 0.75px #f8f1f4, -49vw 25vh 1px 0.75px rgba(241, 241, 244, 0.75754), -47vw -84vh 1px 0.75px #f8f9f4, 83vw -39vh 1px 0.75px #f8f8f5, 59vw 91vh 1px 0.75px rgba(248, 255, 247, 0.633351), 31vw -10vh 1px 0.75px rgba(241, 248, 246, 0.922321), -28vw -56vh 1px 0.75px #f3fff8, -41vw 24vh 1px 0.75px rgba(247, 252, 244, 0.616276), 84vw -96vh 1px 0.75px rgba(246, 247, 251, 0.691281), 90vw 57vh 1px 0.75px rgba(250, 254, 243, 0.636472), 62vw -60vh 1px 0.75px #f6f9fd, -8vw 57vh 1px 0.75px #faf5f3, -45vw 6vh 1px 0.75px rgba(253, 255, 245, 0.936492), 59vw -32vh 1px 0.75px #fdf9f1, 92vw -34vh 1px 0.75px #f3f7ff, 66vw 61vh 1px 0.75px #fbf2f3, 42vw 19vh 1px 0.75px rgba(246, 247, 250, 0.965767), -34vw 65vh 1px 0.75px #fdffff, 43vw 60vh 1px 0.75px #f4fdf2, -85vw -97vh 1px 0.75px rgba(250, 249, 241, 0.684613), 5vw -81vh 1px 0.75px #fff4f8, -4vw -38vh 1px 0.75px rgba(244, 247, 251, 0.911894), -47vw 86vh 1px 0.75px #f9f6fe, -16vw 4vh 1px 0.75px #fcf2fe, 93vw 51vh 1px 0.75px rgba(241, 249, 241, 0.98736), 85vw 84vh 1px 0.75px #fffaf4, -96vw -17vh 1px 0.75px rgba(254, 253, 242, 0.984184), 68vw 74vh 1px 0.75px #fdfff7, 68vw 27vh 1px 0.75px #f4f8f4, -72vw -26vh 1px 0.75px #f7f9f3, 78vw 6vh 1px 0.75px #f6f9f9, 50vw -26vh 1px 0.75px #fef8fc, 29vw -69vh 1px 0.75px rgba(244, 244, 250, 0.865307), -36vw -70vh 1px 0.75px rgba(251, 249, 246, 0.585598), 35vw -94vh 1px 0.75px #f7f7f5, 24vw 45vh 1px 0.75px #fbf6f4, -5vw -77vh 1px 0.75px #fdf3f7, -97vw 99vh 1px 0.75px #f1f7f2, -17vw 33vh 1px 0.75px rgba(248, 255, 249, 0.998514), -86vw 46vh 1px 0.75px rgba(254, 254, 253, 0.92889), 14vw -45vh 1px 0.75px #f7f5f1, 58vw -47vh 1px 0.75px #faf3fc, -43vw 49vh 1px 0.75px #f9fefd, 1vw -65vh 1px 0.75px rgba(252, 254, 255, 0.808728), 54vw -30vh 1px 0.75px rgba(248, 243, 245, 0.846622), -47vw 15vh 1px 0.75px rgba(253, 247, 243, 0.743274), -26vw 34vh 1px 0.75px #fbf2f7, -38vw -6vh 1px 0.75px #f1f5fd, -28vw -99vh 1px 0.75px #f1feff, 19vw 55vh 1px 0.75px #fcfbfa, 100vw 56vh 1px 0.75px #fdf3f1, 53vw -97vh 1px 0.75px rgba(244, 254, 244, 0.845325), 67vw -93vh 1px 0.75px #f1fbfa, -76vw 5vh 1px 0.75px rgba(253, 249, 250, 0.864854), 24vw -42vh 1px 0.75px rgba(252, 253, 254, 0.764706), -29vw 37vh 1px 0.75px rgba(252, 249, 245, 0.815534), -73vw -84vh 1px 0.75px rgba(241, 245, 243, 0.886946), -17vw -74vh 1px 0.75px rgba(248, 254, 254, 0.678594), 82vw 56vh 1px 0.75px #fcf2ff, 93vw 40vh 1px 0.75px #fafffa, -65vw -4vh 1px 0.75px rgba(254, 249, 244, 0.811239), 19vw 41vh 1px 0.75px rgba(241, 255, 249, 0.761873), 34vw 49vh 1px 0.75px rgba(241, 244, 243, 0.552776), 69vw 81vh 1px 0.75px rgba(244, 246, 253, 0.593425);
          box-shadow: -40vw -53vh 1px 0.75px #f5f8fe, -12vw 78vh 1px 0.75px rgba(252, 245, 245, 0.761725), -10vw 11vh 1px 0.75px rgba(255, 255, 254, 0.925921), -32vw -35vh 1px 0.75px rgba(249, 246, 241, 0.765241), 19vw -46vh 1px 0.75px rgba(245, 245, 243, 0.841575), -54vw -33vh 1px 0.75px #fbf6f5, 96vw -14vh 1px 0.75px #f4fffc, -52vw 83vh 1px 0.75px #fdf9f6, -17vw -87vh 1px 0.75px #f2f5fb, 46vw -67vh 1px 0.75px #f7f3ff, 99vw -81vh 1px 0.75px #fbfefb, -68vw 72vh 1px 0.75px rgba(253, 255, 242, 0.647721), -63vw 3vh 1px 0.75px rgba(247, 250, 248, 0.897097), 83vw -54vh 1px 0.75px #f8f9f9, 15vw 39vh 1px 0.75px #f7fef2, -64vw -33vh 1px 0.75px #f7fbf4, 27vw 99vh 1px 0.75px rgba(252, 250, 241, 0.781975), -60vw 85vh 1px 0.75px rgba(254, 242, 243, 0.722099), 5vw -26vh 1px 0.75px #fff8f3, 18vw 22vh 1px 0.75px rgba(254, 243, 253, 0.593943), 16vw -99vh 1px 0.75px #fffafb, 41vw 34vh 1px 0.75px #f8fdfa, -92vw -42vh 1px 0.75px rgba(244, 243, 242, 0.642372), 21vw -70vh 1px 0.75px #fefcf7, 27vw 86vh 1px 0.75px rgba(247, 254, 241, 0.585974), -27vw -3vh 1px 0.75px rgba(245, 254, 249, 0.99462), 80vw 11vh 1px 0.75px rgba(241, 247, 241, 0.665206), -35vw 78vh 1px 0.75px rgba(244, 251, 251, 0.561289), -2vw 93vh 1px 0.75px rgba(254, 250, 247, 0.897934), 41vw -88vh 1px 0.75px #fdfdfa, -50vw 53vh 1px 0.75px #f1f3f4, 14vw -44vh 1px 0.75px #fef7f6, -40vw -80vh 1px 0.75px rgba(242, 254, 254, 0.610565), 61vw 25vh 1px 0.75px #f8f2f9, -40vw -66vh 1px 0.75px #fcf5f6, -75vw -16vh 1px 0.75px rgba(246, 247, 252, 0.898946), -88vw 83vh 1px 0.75px #f8f1f4, -49vw 25vh 1px 0.75px rgba(241, 241, 244, 0.75754), -47vw -84vh 1px 0.75px #f8f9f4, 83vw -39vh 1px 0.75px #f8f8f5, 59vw 91vh 1px 0.75px rgba(248, 255, 247, 0.633351), 31vw -10vh 1px 0.75px rgba(241, 248, 246, 0.922321), -28vw -56vh 1px 0.75px #f3fff8, -41vw 24vh 1px 0.75px rgba(247, 252, 244, 0.616276), 84vw -96vh 1px 0.75px rgba(246, 247, 251, 0.691281), 90vw 57vh 1px 0.75px rgba(250, 254, 243, 0.636472), 62vw -60vh 1px 0.75px #f6f9fd, -8vw 57vh 1px 0.75px #faf5f3, -45vw 6vh 1px 0.75px rgba(253, 255, 245, 0.936492), 59vw -32vh 1px 0.75px #fdf9f1, 92vw -34vh 1px 0.75px #f3f7ff, 66vw 61vh 1px 0.75px #fbf2f3, 42vw 19vh 1px 0.75px rgba(246, 247, 250, 0.965767), -34vw 65vh 1px 0.75px #fdffff, 43vw 60vh 1px 0.75px #f4fdf2, -85vw -97vh 1px 0.75px rgba(250, 249, 241, 0.684613), 5vw -81vh 1px 0.75px #fff4f8, -4vw -38vh 1px 0.75px rgba(244, 247, 251, 0.911894), -47vw 86vh 1px 0.75px #f9f6fe, -16vw 4vh 1px 0.75px #fcf2fe, 93vw 51vh 1px 0.75px rgba(241, 249, 241, 0.98736), 85vw 84vh 1px 0.75px #fffaf4, -96vw -17vh 1px 0.75px rgba(254, 253, 242, 0.984184), 68vw 74vh 1px 0.75px #fdfff7, 68vw 27vh 1px 0.75px #f4f8f4, -72vw -26vh 1px 0.75px #f7f9f3, 78vw 6vh 1px 0.75px #f6f9f9, 50vw -26vh 1px 0.75px #fef8fc, 29vw -69vh 1px 0.75px rgba(244, 244, 250, 0.865307), -36vw -70vh 1px 0.75px rgba(251, 249, 246, 0.585598), 35vw -94vh 1px 0.75px #f7f7f5, 24vw 45vh 1px 0.75px #fbf6f4, -5vw -77vh 1px 0.75px #fdf3f7, -97vw 99vh 1px 0.75px #f1f7f2, -17vw 33vh 1px 0.75px rgba(248, 255, 249, 0.998514), -86vw 46vh 1px 0.75px rgba(254, 254, 253, 0.92889), 14vw -45vh 1px 0.75px #f7f5f1, 58vw -47vh 1px 0.75px #faf3fc, -43vw 49vh 1px 0.75px #f9fefd, 1vw -65vh 1px 0.75px rgba(252, 254, 255, 0.808728), 54vw -30vh 1px 0.75px rgba(248, 243, 245, 0.846622), -47vw 15vh 1px 0.75px rgba(253, 247, 243, 0.743274), -26vw 34vh 1px 0.75px #fbf2f7, -38vw -6vh 1px 0.75px #f1f5fd, -28vw -99vh 1px 0.75px #f1feff, 19vw 55vh 1px 0.75px #fcfbfa, 100vw 56vh 1px 0.75px #fdf3f1, 53vw -97vh 1px 0.75px rgba(244, 254, 244, 0.845325), 67vw -93vh 1px 0.75px #f1fbfa, -76vw 5vh 1px 0.75px rgba(253, 249, 250, 0.864854), 24vw -42vh 1px 0.75px rgba(252, 253, 254, 0.764706), -29vw 37vh 1px 0.75px rgba(252, 249, 245, 0.815534), -73vw -84vh 1px 0.75px rgba(241, 245, 243, 0.886946), -17vw -74vh 1px 0.75px rgba(248, 254, 254, 0.678594), 82vw 56vh 1px 0.75px #fcf2ff, 93vw 40vh 1px 0.75px #fafffa, -65vw -4vh 1px 0.75px rgba(254, 249, 244, 0.811239), 19vw 41vh 1px 0.75px rgba(241, 255, 249, 0.761873), 34vw 49vh 1px 0.75px rgba(241, 244, 243, 0.552776), 69vw 81vh 1px 0.75px rgba(244, 246, 253, 0.593425);
  -webkit-animation: star-movement 9s -3s cubic-bezier(0.55, 0, 1, 0.45) infinite, direction-movement 30s ease-in-out alternate infinite;
          animation: star-movement 9s -3s cubic-bezier(0.55, 0, 1, 0.45) infinite, direction-movement 30s ease-in-out alternate infinite;
}

.starfield .moving-3 {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 3px;
  height: 3px;
  border-radius: 100%;
  -webkit-transform-origin: 39vw 26vh;
          transform-origin: 39vw 26vh;
  -webkit-box-shadow: -44vw -95vh 1px 0.75px #fbf1fe, 79vw 10vh 1px 0.75px rgba(244, 246, 248, 0.991589), 95vw -24vh 1px 0.75px #fefbfd, -95vw -41vh 1px 0.75px #f4f4f5, 71vw -41vh 1px 0.75px rgba(241, 250, 247, 0.707224), 98vw -92vh 1px 0.75px rgba(249, 246, 250, 0.871392), -38vw -42vh 1px 0.75px rgba(247, 242, 255, 0.832844), -76vw -59vh 1px 0.75px rgba(252, 255, 246, 0.84667), 57vw -32vh 1px 0.75px #f8f4fe, -60vw -53vh 1px 0.75px #f6f3f2, 90vw 55vh 1px 0.75px #f5fefe, -25vw 61vh 1px 0.75px rgba(242, 243, 242, 0.613907), 84vw -78vh 1px 0.75px rgba(249, 249, 246, 0.657401), -42vw 64vh 1px 0.75px #f4fbf5, 57vw -51vh 1px 0.75px rgba(255, 252, 245, 0.523182), 28vw 69vh 1px 0.75px rgba(250, 254, 244, 0.636457), 95vw -26vh 1px 0.75px rgba(241, 253, 254, 0.982549), -73vw 80vh 1px 0.75px #f1f1f1, -94vw -84vh 1px 0.75px #fef8f4, 87vw 19vh 1px 0.75px rgba(249, 245, 244, 0.623609), -76vw -24vh 1px 0.75px rgba(249, 246, 246, 0.628995), -96vw 1vh 1px 0.75px rgba(249, 249, 244, 0.615799), -6vw 66vh 1px 0.75px #fef5fa, 60vw 50vh 1px 0.75px rgba(245, 254, 254, 0.595513), -22vw 49vh 1px 0.75px rgba(255, 255, 248, 0.658396), 50vw -82vh 1px 0.75px rgba(246, 249, 252, 0.949481), -25vw 54vh 1px 0.75px rgba(253, 255, 241, 0.569207), 59vw 70vh 1px 0.75px #f6f6f7, 70vw 39vh 1px 0.75px #f3fef1, -51vw -21vh 1px 0.75px rgba(250, 249, 252, 0.951397), 44vw -14vh 1px 0.75px rgba(248, 244, 251, 0.815381), 53vw -97vh 1px 0.75px #faf9f7, 48vw 91vh 1px 0.75px rgba(250, 247, 241, 0.932336), 25vw 61vh 1px 0.75px #fcf3f4, 50vw 22vh 1px 0.75px #f9fcfe, -15vw -51vh 1px 0.75px rgba(250, 245, 255, 0.523745), -4vw -90vh 1px 0.75px #fef5f4, 65vw -77vh 1px 0.75px rgba(251, 250, 246, 0.63727), 40vw 81vh 1px 0.75px rgba(250, 255, 247, 0.927324), 79vw -42vh 1px 0.75px #f5f2f6, -58vw -6vh 1px 0.75px rgba(243, 251, 246, 0.776103), 70vw 46vh 1px 0.75px rgba(252, 242, 244, 0.694933), -85vw -21vh 1px 0.75px #f6f5f3, -43vw 16vh 1px 0.75px rgba(248, 242, 245, 0.726704), 48vw 42vh 1px 0.75px rgba(251, 242, 251, 0.813564), -37vw -59vh 1px 0.75px rgba(253, 250, 242, 0.944214), -60vw -19vh 1px 0.75px rgba(243, 255, 248, 0.630606), 66vw 91vh 1px 0.75px #fdf4fc, 42vw -44vh 1px 0.75px rgba(247, 244, 252, 0.932295), 22vw 52vh 1px 0.75px rgba(253, 245, 252, 0.896646), 80vw 18vh 1px 0.75px rgba(247, 244, 254, 0.967724), -14vw 40vh 1px 0.75px #f4fbfb, -72vw -47vh 1px 0.75px #f5fcf6, -65vw 87vh 1px 0.75px rgba(242, 251, 243, 0.526869), 91vw 25vh 1px 0.75px rgba(249, 247, 245, 0.526295), -20vw -59vh 1px 0.75px #fcfdf7, -36vw -69vh 1px 0.75px #f9fdfc, 82vw 88vh 1px 0.75px rgba(253, 246, 250, 0.85366), 43vw -61vh 1px 0.75px #f2f8f8, 82vw 18vh 1px 0.75px #f4fafe, 100vw -38vh 1px 0.75px rgba(242, 254, 251, 0.939065), -61vw -95vh 1px 0.75px rgba(254, 251, 248, 0.50233), -81vw -26vh 1px 0.75px rgba(246, 249, 248, 0.557823), -70vw -10vh 1px 0.75px rgba(249, 248, 251, 0.768276), 4vw 98vh 1px 0.75px #f5f6f7, -5vw 4vh 1px 0.75px #f3f5f7, 23vw 70vh 1px 0.75px #fafcfa, -63vw 85vh 1px 0.75px #fdf8f8, -49vw -41vh 1px 0.75px #fefbf1, 62vw 20vh 1px 0.75px #f2f4fa, 64vw 75vh 1px 0.75px #fcf4fc, -53vw 36vh 1px 0.75px #f3fefb, 28vw 86vh 1px 0.75px #f2f6fd, -93vw 38vh 1px 0.75px #f7fcfe, 14vw 16vh 1px 0.75px rgba(245, 253, 243, 0.906611), 28vw -2vh 1px 0.75px #f4f9f8, 33vw 22vh 1px 0.75px rgba(255, 250, 251, 0.613154), 15vw -19vh 1px 0.75px #f4f6fb, 15vw -75vh 1px 0.75px #f5f1f9, -40vw -55vh 1px 0.75px rgba(243, 241, 246, 0.639129), -86vw 89vh 1px 0.75px rgba(246, 241, 245, 0.71292), 91vw 28vh 1px 0.75px rgba(253, 247, 248, 0.850044), 41vw 75vh 1px 0.75px #fef7f1, 82vw -44vh 1px 0.75px rgba(248, 244, 243, 0.703142), 63vw 17vh 1px 0.75px #fefaf8, -52vw -12vh 1px 0.75px #fcf3fb, -84vw -13vh 1px 0.75px #fafaf9, 78vw 82vh 1px 0.75px #f5f9f6, -27vw 65vh 1px 0.75px rgba(255, 251, 249, 0.621492), 6vw -59vh 1px 0.75px #f9f3f5, 93vw -97vh 1px 0.75px rgba(244, 244, 248, 0.999758), -4vw -73vh 1px 0.75px #f1f6f5, -36vw -85vh 1px 0.75px rgba(253, 250, 242, 0.958923), -23vw -2vh 1px 0.75px #f3fdf8, -93vw -25vh 1px 0.75px rgba(255, 252, 241, 0.538975), 57vw -73vh 1px 0.75px rgba(246, 245, 255, 0.601478), -15vw 11vh 1px 0.75px rgba(251, 252, 247, 0.919515), 80vw -98vh 1px 0.75px rgba(252, 252, 254, 0.626443), 51vw -2vh 1px 0.75px rgba(248, 249, 253, 0.697807), 8vw -66vh 1px 0.75px rgba(251, 250, 244, 0.665421);
          box-shadow: -44vw -95vh 1px 0.75px #fbf1fe, 79vw 10vh 1px 0.75px rgba(244, 246, 248, 0.991589), 95vw -24vh 1px 0.75px #fefbfd, -95vw -41vh 1px 0.75px #f4f4f5, 71vw -41vh 1px 0.75px rgba(241, 250, 247, 0.707224), 98vw -92vh 1px 0.75px rgba(249, 246, 250, 0.871392), -38vw -42vh 1px 0.75px rgba(247, 242, 255, 0.832844), -76vw -59vh 1px 0.75px rgba(252, 255, 246, 0.84667), 57vw -32vh 1px 0.75px #f8f4fe, -60vw -53vh 1px 0.75px #f6f3f2, 90vw 55vh 1px 0.75px #f5fefe, -25vw 61vh 1px 0.75px rgba(242, 243, 242, 0.613907), 84vw -78vh 1px 0.75px rgba(249, 249, 246, 0.657401), -42vw 64vh 1px 0.75px #f4fbf5, 57vw -51vh 1px 0.75px rgba(255, 252, 245, 0.523182), 28vw 69vh 1px 0.75px rgba(250, 254, 244, 0.636457), 95vw -26vh 1px 0.75px rgba(241, 253, 254, 0.982549), -73vw 80vh 1px 0.75px #f1f1f1, -94vw -84vh 1px 0.75px #fef8f4, 87vw 19vh 1px 0.75px rgba(249, 245, 244, 0.623609), -76vw -24vh 1px 0.75px rgba(249, 246, 246, 0.628995), -96vw 1vh 1px 0.75px rgba(249, 249, 244, 0.615799), -6vw 66vh 1px 0.75px #fef5fa, 60vw 50vh 1px 0.75px rgba(245, 254, 254, 0.595513), -22vw 49vh 1px 0.75px rgba(255, 255, 248, 0.658396), 50vw -82vh 1px 0.75px rgba(246, 249, 252, 0.949481), -25vw 54vh 1px 0.75px rgba(253, 255, 241, 0.569207), 59vw 70vh 1px 0.75px #f6f6f7, 70vw 39vh 1px 0.75px #f3fef1, -51vw -21vh 1px 0.75px rgba(250, 249, 252, 0.951397), 44vw -14vh 1px 0.75px rgba(248, 244, 251, 0.815381), 53vw -97vh 1px 0.75px #faf9f7, 48vw 91vh 1px 0.75px rgba(250, 247, 241, 0.932336), 25vw 61vh 1px 0.75px #fcf3f4, 50vw 22vh 1px 0.75px #f9fcfe, -15vw -51vh 1px 0.75px rgba(250, 245, 255, 0.523745), -4vw -90vh 1px 0.75px #fef5f4, 65vw -77vh 1px 0.75px rgba(251, 250, 246, 0.63727), 40vw 81vh 1px 0.75px rgba(250, 255, 247, 0.927324), 79vw -42vh 1px 0.75px #f5f2f6, -58vw -6vh 1px 0.75px rgba(243, 251, 246, 0.776103), 70vw 46vh 1px 0.75px rgba(252, 242, 244, 0.694933), -85vw -21vh 1px 0.75px #f6f5f3, -43vw 16vh 1px 0.75px rgba(248, 242, 245, 0.726704), 48vw 42vh 1px 0.75px rgba(251, 242, 251, 0.813564), -37vw -59vh 1px 0.75px rgba(253, 250, 242, 0.944214), -60vw -19vh 1px 0.75px rgba(243, 255, 248, 0.630606), 66vw 91vh 1px 0.75px #fdf4fc, 42vw -44vh 1px 0.75px rgba(247, 244, 252, 0.932295), 22vw 52vh 1px 0.75px rgba(253, 245, 252, 0.896646), 80vw 18vh 1px 0.75px rgba(247, 244, 254, 0.967724), -14vw 40vh 1px 0.75px #f4fbfb, -72vw -47vh 1px 0.75px #f5fcf6, -65vw 87vh 1px 0.75px rgba(242, 251, 243, 0.526869), 91vw 25vh 1px 0.75px rgba(249, 247, 245, 0.526295), -20vw -59vh 1px 0.75px #fcfdf7, -36vw -69vh 1px 0.75px #f9fdfc, 82vw 88vh 1px 0.75px rgba(253, 246, 250, 0.85366), 43vw -61vh 1px 0.75px #f2f8f8, 82vw 18vh 1px 0.75px #f4fafe, 100vw -38vh 1px 0.75px rgba(242, 254, 251, 0.939065), -61vw -95vh 1px 0.75px rgba(254, 251, 248, 0.50233), -81vw -26vh 1px 0.75px rgba(246, 249, 248, 0.557823), -70vw -10vh 1px 0.75px rgba(249, 248, 251, 0.768276), 4vw 98vh 1px 0.75px #f5f6f7, -5vw 4vh 1px 0.75px #f3f5f7, 23vw 70vh 1px 0.75px #fafcfa, -63vw 85vh 1px 0.75px #fdf8f8, -49vw -41vh 1px 0.75px #fefbf1, 62vw 20vh 1px 0.75px #f2f4fa, 64vw 75vh 1px 0.75px #fcf4fc, -53vw 36vh 1px 0.75px #f3fefb, 28vw 86vh 1px 0.75px #f2f6fd, -93vw 38vh 1px 0.75px #f7fcfe, 14vw 16vh 1px 0.75px rgba(245, 253, 243, 0.906611), 28vw -2vh 1px 0.75px #f4f9f8, 33vw 22vh 1px 0.75px rgba(255, 250, 251, 0.613154), 15vw -19vh 1px 0.75px #f4f6fb, 15vw -75vh 1px 0.75px #f5f1f9, -40vw -55vh 1px 0.75px rgba(243, 241, 246, 0.639129), -86vw 89vh 1px 0.75px rgba(246, 241, 245, 0.71292), 91vw 28vh 1px 0.75px rgba(253, 247, 248, 0.850044), 41vw 75vh 1px 0.75px #fef7f1, 82vw -44vh 1px 0.75px rgba(248, 244, 243, 0.703142), 63vw 17vh 1px 0.75px #fefaf8, -52vw -12vh 1px 0.75px #fcf3fb, -84vw -13vh 1px 0.75px #fafaf9, 78vw 82vh 1px 0.75px #f5f9f6, -27vw 65vh 1px 0.75px rgba(255, 251, 249, 0.621492), 6vw -59vh 1px 0.75px #f9f3f5, 93vw -97vh 1px 0.75px rgba(244, 244, 248, 0.999758), -4vw -73vh 1px 0.75px #f1f6f5, -36vw -85vh 1px 0.75px rgba(253, 250, 242, 0.958923), -23vw -2vh 1px 0.75px #f3fdf8, -93vw -25vh 1px 0.75px rgba(255, 252, 241, 0.538975), 57vw -73vh 1px 0.75px rgba(246, 245, 255, 0.601478), -15vw 11vh 1px 0.75px rgba(251, 252, 247, 0.919515), 80vw -98vh 1px 0.75px rgba(252, 252, 254, 0.626443), 51vw -2vh 1px 0.75px rgba(248, 249, 253, 0.697807), 8vw -66vh 1px 0.75px rgba(251, 250, 244, 0.665421);
  -webkit-animation: star-movement 9s -6s cubic-bezier(0.55, 0, 1, 0.45) infinite, direction-movement 30s ease-in-out alternate infinite;
          animation: star-movement 9s -6s cubic-bezier(0.55, 0, 1, 0.45) infinite, direction-movement 30s ease-in-out alternate infinite;
}
/*# sourceMappingURL=styles.css.map */