@import "../../../assets/styles/variables.scss";

.corner-store-cta {
  padding: 5rem 2rem;
  background-color: #fff;

  .container {
    max-width: 60rem;
    margin: 0 auto;
    text-align: center;

    h2 {
      font-size: 2rem;
      color: $graphite;
      margin-bottom: 1rem;
    }

    p {
      font-size: 1.125rem;
      color: #555;
      margin-bottom: 2rem;
      max-width: 600px;
      margin-inline: auto;
    }

    .cta-btn {
      background-color: $graphite;
      color: $white;
      font-weight: 600;
      padding: 0.75rem 1.5rem;
      border-radius: 1.5rem;
      text-decoration: none;

      &:hover {
        background-color: $junglegreen;
      }
    }
  }
}
