.layout {
  position: relative; // ensure stacking context
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100vw;
  min-height: 100vh;

  .display {
    position: relative;
    z-index: 1; // above canvas
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
}
