body {
  background-color: #EFEFEF;
}

.prodbtn, .compbtn {
  color: #808080;
}

.prodbtn:hover, .compbtn:hover {
  color: #29ab87;
}

.prcbtn .prclnk {
  color: #808080;
}

.prcbtn .prclnk:hover {
  color: #29ab87;
}

.header__toggle > bar {
  background-color: #262626;
}

.header .cta {
  background: #262626;
}

.header .cta .ctalnk {
  color: #ffffff;
}

.header .cta:hover {
  background: #28ab87;
}

.prcs .prcs-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  max-width: 62rem;
}

.prcs .hdng {
  color: #262626;
  line-height: 1;
  font-size: calc(1vw + 2.7rem);
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
}

.prcs .trl-cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 62rem;
  margin: auto;
  text-align: center;
}

.prcs .trl-cta p {
  font-size: calc(.25vw + 1rem);
  font-weight: 500;
  color: #28ab87;
}

.prcs .trl-cta p span {
  font-weight: 600;
  font-size: calc(.25vw + 1.1rem);
}

.prcs .trl-cta button {
  width: 13rem;
  border: none;
  border-radius: .5rem;
  background: #29ab87;
  padding: 1rem 1.5rem;
  margin: auto;
}

.prcs .trl-cta button a {
  color: #ffffff;
  font-size: calc(.25vw + .8rem);
  font-weight: 600;
}

.prcs .trl-cta button:hover {
  background: #135744;
}

.prcs .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 62rem;
  margin: auto;
}

.prcs .cards .crd-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 3rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3rem;
}

.prcs .cards .crd {
  width: 15rem;
  left: 50%;
  margin: auto;
  height: 30rem;
  border: none;
  border-radius: 20px;
  background: #ffffff;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.prcs .cards .crd .prc-lvl {
  color: #262626;
  font-size: calc(.5vw + .5rem);
  font-weight: 600;
  padding-top: 1.5rem;
}

.prcs .prc-inf {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: calc(.25vw + .5rem);
  color: #808080;
  padding-top: 1rem;
}

.prcs .pln-ftr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 62rem;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.prcs .pln-ftr .pln-btn {
  padding-top: 3rem;
  border: none;
  background: none;
}

.prcs .pln-ftr .pln-btn a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  color: #29ab87;
  font-size: calc(.25vw + 1rem);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.prcs .pln-ftr .pln-btn a:hover {
  color: #135744;
}

.prcs .pln-ftr .pln-btn a:hover #icn {
  fill: #135744;
}

.prcs .alt-prc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 62rem;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 5rem;
  padding-top: 3rem;
}

.prcs .alt-prc .alt-prcs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.prcs .alt-prc .alt-prcs .alt-txt {
  text-align: center;
  max-width: 25rem;
  color: #808080;
  font-size: calc(.25vw + 1rem);
}

.prcs .alt-prc .alt-prcs .pln-btn {
  padding-top: 1rem;
  border: none;
  background: none;
}

.prcs .alt-prc .alt-prcs .pln-btn a {
  color: #29ab87;
  font-size: calc(.25vw + 1rem);
  text-decoration: underline;
}

.prcs .alt-prc .alt-prcs .pln-btn a span {
  font-weight: 600;
}

.prcs .alt-prc .alt-prcs .pln-btn a:hover {
  color: #135744;
}

.prcs .prc-prmt {
  text-align: center;
  font-size: calc(.25vw + 1rem);
  color: #262626;
  padding-top: 5rem;
  padding-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
}

.prcs .prc-prmt .hlt {
  color: #29ab87;
  font-weight: 600;
  cursor: pointer;
  text-decoration: underline;
}

.prcs .prc-prmt .hlt:hover {
  color: #135744;
}
/*# sourceMappingURL=pricing.css.map */