@import "../../../assets/styles/variables.scss";

.storebook-hero {
  background-color: #fefefe;
  padding: 4rem 2rem;

  .container {
    max-width: 70rem;
    margin: 0 auto;
  }

  .hero-content {
    padding-top: 7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;

    .text-block {
      flex: 1 1 30rem;
      max-height: fit-content;

      h1 {
        font-size: 3rem;
        color: $graphite;
        margin-bottom: 1rem;
      }

      p {
        font-size: 1.5rem;
        color: #555;
        margin-bottom: 2rem;
        max-width: 550px;
      }

      .cta-btn {
        background-color: $graphite;
        color: $white;
        font-weight: 600;
        padding: 0.75rem 1.5rem;
        border-radius: 1.5rem;
        text-decoration: none;
        display: inline-block;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: $junglegreen;
        }
      }
    }

    .hero-image {
      position: relative;
      flex: 1 1 35rem;
      max-height: fit-content;
      text-align: center;

      img {
        width: 100%;
        max-width: 500px;
        height: auto;
        border-radius: 1rem;
        object-fit: contain;
      }
    }
  }

  @media (max-width: 768px) {
    .hero-content {
      flex-direction: column;
      align-items: center;
      max-height: fit-content;
    }

    .text-block {
      text-align: center;
      max-width: 100%;

      h1 {
        font-size: 2rem;
      }

      p {
        font-size: 1.1rem;
        max-width: 100%;
      }

    }

    .hero-image {
      img {
        max-height: fit-content;
      }
    }
  }
}
