body{
    background-color: #EFEFEF;
}
.prodbtn, .compbtn{
    color: #808080;

    &:hover{
        color: #29ab87;
    }
}

.prcbtn{

    .prclnk{
        color: #808080;

        &:hover{
            color: #29ab87;
        }
    }
}