.prcs{
    .prcs-cont{
        display: flex;
        flex-direction: column;
        margin: auto;
        max-width: 62rem;
    }

    .hdng{
        color: #262626;
        line-height: 1;
        font-size: calc(1vw + 2.7rem);
        text-align: center;
        padding-top: 2rem;
        padding-bottom: 2rem;
        margin-left: auto;
        margin-right: auto;

    }

    .trl-cta{
        display: flex;
        flex-direction: column;
        max-width: 62rem;
        margin: auto;
        text-align: center;

        p{
            font-size: calc(.25vw + 1rem);
            font-weight: 500;
            color: #28ab87;

            span{
                font-weight: 600;
                font-size: calc(.25vw + 1.1rem);
            }
            
        }

        button{
            width: 13rem;
            border: none;
            border-radius: .5rem;
            background: #29ab87;
            padding: 1rem 1.5rem;
            margin: auto;

            a{
                color: #ffffff;
                font-size: calc(.25vw + .8rem);
                font-weight: 600;

            }

            &:hover{
                background: #135744;
            }
        }

    }

    .cards{
        display: flex;
        max-width: 62rem;
        margin: auto;

        .crd-wrp{
            display: flex;
            flex-wrap: wrap;
            gap: 3rem;
            margin-left: auto;
            margin-right: auto;
            padding-top: 3rem;
            
        }

        .crd{
            width: 15rem;
            left: 50%;
            margin: auto;
            height: 30rem;
            border: none;
            border-radius: 20px;
            background: #ffffff;
            box-shadow: 0  2px 5px rgba(0,0,0,0.2);
        }

    }

    .prc-inf{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        font-size: calc(.25vw + .5rem);
        color: #808080;
        padding-top: 1rem;
        
    }

    .pln-ftr{
        display: flex;
        max-width: 62rem;
        margin: auto;
        justify-content: center;
        

        .pln-btn{
            padding-top: 3rem;
            border: none;
            background: none;
            
            a{
                display: flex;
                gap: 1rem;
                color: #29ab87;
                font-size: calc(.25vw + 1rem);
                align-items: center;

                &:hover{
                    color: #135744;
                    #icn{
                        fill: #135744;
                    }
                }
            }
        }

    }

    .alt-prc{
        display: flex;
        max-width: 62rem;
        margin: auto;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 5rem;
        padding-top: 3rem;

        .alt-prcs{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .alt-txt{
                text-align: center;
                max-width: 25rem;
                color: #808080;
                font-size: calc(.25vw + 1rem);

            }

            .pln-btn{
                padding-top: 1rem;
                border: none;
                background: none;
                
                a{
                    color: #29ab87;
                    font-size: calc(.25vw + 1rem);
                    text-decoration: underline;

                    span{
                        font-weight: 600;
                    }

                    &:hover{
                        color: #135744;
                    
                    }
                }
            }

        }

    }

    .prc-prmt{
        text-align: center;
        font-size: calc(.25vw + 1rem);
        color: #262626;
        padding-top: 5rem;
        padding-bottom: 2rem;
        margin-left: auto;
        margin-right: auto;

        .hlt{
            color: #29ab87;
            font-weight: 600;
            cursor: pointer;
            text-decoration: underline;

            &:hover{
                color: #135744;
            }
        }
    }
}