
$ash: #f0f0f0;
$iron: #262626;
$white: #fefefe;
$green: #29ab87;
$glaceite: #7ca6c2;
$magnetite: #4d4d4d;
$font-med: 1rem;

// Add breakpoints
$breakpoint-small: 600px;
$breakpoint-medium: 900px;
$breakpoint-large: 1200px;