.ftr{
    display: block;
    justify-items: center;
    
    .ftr-wpr{
        display: flex;
        flex-direction: column;
        max-width: 65rem;
        margin: auto;
        justify-items: center;
        

    }

    .ftr-m{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(11rem, 1fr));
        gap: 3rem;
        width: calc(100% - 3rem);
        margin-left: auto;
        margin-right: auto;
        
        .m-lst{
            display: flex;
            width: fit-content;
            margin-right: auto;
            margin-left: auto;

        }
    
        .ttl{
            color: #dcdcdc;
            font-size: calc(.25vw + 1rem);
            padding-bottom: 1rem;
            
        }

        .lnk{
            width: 100%;
            text-align: left;
            color: #808080;
            font-size: calc(.25vw + .75rem);
            display: flex;
            align-items: center;
            gap: .5rem;
            width: fit-content;

            &:hover{
                color: #29ab87;
            }

            svg{
                height: calc(.5vw + .75rem);

            }

        }

        .twr{
            &:hover{
                color: #1DA1F2;

                #icn-t{
                    fill: #1DA1F2;
                }
            }
        }

        .lnkd{
            
            &:hover{
                color: #126d9f;

                #icn-i{
                    fill: #126d9f;
                }
            }
        }

        .ytb{
            
            &:hover{
                color: #ff0000;

                #icn-y{
                    fill: #ff0000;
                }
            }
        }
    }

    .cprt{
        display: flex;
        color: #808080;
        font-size: calc(.25vw + .7rem);
        width: fit-content;
        max-width: 80rem;
        padding: 2rem;
        align-items: center;
        margin: auto;

        p{
            text-align: center;
        }
     
    }

    ul{
        list-style: none;
        justify-content: space-around;
        padding: 0;
        margin: 0;
    }

    li{
        margin-bottom: 1rem;
        width: fit-content;
        
    }
    
}