html{
    font-size: 100%;
    box-sizing: border-box;
    --leftforDD: 0;
	--leftforArrow: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;   
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: $font-sm;
    color: $textgray;
    line-height: 1.0;
    min-width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

a, 
a:visited, 
a:hover {
    text-decoration: none;
}

//Spacing
.container{
    padding-top: 2.25rem;
    padding-left: 1.5rem ;
    padding-right: 1.5rem;
    padding-bottom: 2.25rem;
}

//Flexbox
.flex {
    display: flex;

    &-jc-sb {
        justify-content: space-between;
    }

    &-jc-c {
        justify-content: center;
    }

    &-ai-c {
        align-items: center;
    }
}

h1, h2, h3{
    margin: 0;
}

//visibilty
.hide-for-mobile {
    @include breakpoint-down(medium){
        display: none;
    }
}

.hide-for-desktop {
    @include breakpoint-up(large){
        display: none;
    }
}

//Canvas
canvas {
    width: 100%;
    height: 200%;
    z-index: -10;
    position: absolute;

    @include breakpoint-up(large){
        height: 160%;
    }

    @include breakpoint-down(medium){
        height: 250%;
    }

}

//Sections
.header{
    width: 100%;
    background-color: transparent;
    z-index: 1;

}

.scn-0{
    width: 100%;
    height: fit-content;
    background-color: transparent;
    z-index: 1;
    overflow-x: hidden;

}

.scn-1{
    width: 100%;
    height: fit-content;
    position: relative;
    background-color: #ffffff;
    z-index: 1;

}

.scn-2{
    top: 0px;
    width: 100%;
    height: fit-content;
    position: relative;
    background: #ffffff;
    background: linear-gradient(0deg, #eeeeee 10%,#ffffff 100%);
    z-index: 1;
    overflow-x: hidden;

}

.scn-3{
    top: 0;
    width: 100%;
    height: fit-content;
    position: relative;
    background-color: #ffffff;
    z-index: 1;
    
}

.scn-4{
    top: 0;
    width: 100%;
    height: fit-content;
    position: relative;
    background: linear-gradient(0deg, #eeeeee 10%,#ffffff 100%);
    z-index: 1;
    
}

.scn-5{
    top: 0;
    width: 100%;
    height: fit-content;
    position: relative;
    background-color: #eeeeee;
    z-index: 1;
    
}


.ftr{
    top: 0;
    width: 100%;
    height: fit-content;
    background-color: #262626;
    z-index: 1;

}