.scn-3{
    .s3-txt{
        display: flex;
        flex-direction: column;
        max-width: 62rem;
        margin: auto;
        padding-bottom: 3rem;
    
    }

    .sb-hdng{
        color: #29ab87;
        font-size: calc(.25vw + .8rem);
    }

    .hdng{
        color: #262626;
        font-size: calc(.75vw + 1.25rem);
        max-width: 35rem;
    }



    .s3-cpy-main{
        height: fit-content;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
        width: calc(100%);
        margin-left: auto;
        margin-right: auto;
        gap: 2.25rem;
       
    }

    .cpy-cntr{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding-top: 3rem;

        .cpy-txt{
            width: fit-content;
        }

        @include breakpoint-down(medium){
           padding-top: 1rem;
            
        }

        @include breakpoint-down(small){
            padding-top: 1rem;
            
        }
    }


    .cpy-icn{
        height: fit-content;
        width: fit-content;
        
    }

    .sb-hdng-1{
        color: #262626;
        font-weight: 600;
        font-size: calc(.35vw + 1rem);
        border: none;
        margin: 0 0 .5rem 0;

        @include breakpoint-down(medium){
            font-size: calc(.25vw + 1.25rem);
            
        }

        @include breakpoint-down(small){
            font-size: calc(.25vw + 1.125rem);
            
        }
    }

    .s3-cpy{
        color: #808080;
        font-size: calc(.35vw + .75rem);
        margin: 0;

        @include breakpoint-down(medium){
            font-size: calc(.25vw + 1.125rem);
            
        }

        @include breakpoint-down(small){
            font-size: calc(.25vw + 1rem);
            
        }

    }

}
