.scn-4{

    .s4-cont{
        max-width: 62rem;
        display: flex;
        flex-direction: column;
        margin: auto;
        padding-bottom: 2rem;
        gap: 2rem;

        .s4-hdr{
            padding-bottom: 3rem;

            .hdr-sb-hdng{
                color: #29ab87;
                font-size: calc(.25vw + .8rem);
            }
        
            .hdr-hdng{
                color: #262626;
                font-size: calc(.75vw + 1.25rem);
            }
        
            .hdr-txt{
                color: #808080;
                font-size: calc(.25vw + 1rem);
                max-width: 31rem;
                    
                .hlt{
                    color: #29ab87;
            
                }
            }
        }

        .s4-dsp-1{
            display: flex;
            max-width: 62rem;
            align-items: center;
            gap: 2rem;
            height: fit-content;
            
            .s4-img-1{
                height: auto;
                max-width: 30rem;
                padding-top: 2rem;
                padding-bottom: 2rem;
                
            }

            @include breakpoint-down(medium){
                display: flex;
                margin: auto;
                flex-direction: row;
                align-items: center;
                padding: 1rem 0rem;
                
            }

            @include breakpoint-down(small){
                display: flex;
                margin: auto;
                flex-direction: column;
                align-items: center;
                padding: 1rem 0rem;
                
            }

        }

        .s4-dsp-2{
            display: flex;
            max-width: 62rem;
            flex-direction: row-reverse;
            align-items: center;
            gap: 2rem;
            height: fit-content;
            
            .s4-img-2{
                height: auto;
                max-width: 30rem;
                padding-top: 2rem;
                padding-bottom: 2rem;
                
            }

            @include breakpoint-down(medium){
                display: flex;
                margin: auto;
                flex-direction: row;
                align-items: center;
                padding: 1rem 0rem;
                
            }

            @include breakpoint-down(small){
                display: flex;
                margin: auto;
                flex-direction: column;
                align-items: center;
                padding: 1rem 0rem;
                
            }

        }
    
        .s4-dsp-3{
            display: flex;
            max-width: 62rem;
            align-items: center;
            gap: 2rem;
            height: fit-content;
            
            .s4-img-3{
                height: auto;
                max-width: 30rem;
                padding-top: 2rem;
                padding-bottom: 2rem;
                
            }

            @include breakpoint-down(medium){
                display: flex;
                margin: auto;
                flex-direction: row;
                align-items: center;
                padding: 1rem 0rem;
                
            }

            @include breakpoint-down(small){
                display: flex;
                margin: auto;
                flex-direction: column;
                align-items: center;
                padding: 1rem 0rem;
                
            }

        }

    }

    .s4-img-sm{
        width: 100%;
        max-width: 25rem;
        height: auto;
        margin: 0;

    }

    .cpy{
        width: 100%;
        height: fit-content;
        max-width: 30rem;
        gap: 1rem;

        .s4-sb-hdng{
            color: #262626;
            font-size: calc(.75vw + 1rem);;

        }

        .txt{
            color: #808080;
            font-size: calc(.25vw + 1rem);

        }

    }

    .cta{
        padding-left: 0rem;

        .s4cta{
            padding: 0.3125rem 1.375rem;
            border: none;
            border-radius: 1.375rem;
            background: $magnetite;
            cursor: pointer;
            color: #ffffff;
            font-size: $font-lg;
            font-weight: 500;
    
            &:hover{
                background-color: #29ab87;
    
            }
    
        }
    }

}