.scn-5{
    .s5-cpy{
        display: flex;
        flex-direction: column;
        max-width: 62rem;
        margin: auto;
        padding-bottom: 5rem;
    
        .sb-hdng{
            color: #29ab87;
            font-size: calc(.25vw + .8rem);
            width: 100%;

        }

        .hdng{
            color: #262626;
            font-size: calc(.75vw + 1.25rem);
            width: 100%;

        }

        .s5-txt{
            width: 100%;
            color: #808080;
            max-width: 30rem;
            font-size: calc(.25vw + 1rem);
    
            .hlt{
                color: #29ab87;
            }
        }

        .s5-cta-cntr{
            padding-top: 2rem;

            .s5cta{
                padding: 0.3125rem 1.375rem;
                border: none;
                border-radius: 1.375rem;
                background: $magnetite;
                cursor: pointer;
                color: #ffffff;
                font-size: $font-lg;
                font-weight: 500;
        
                &:hover{
                    background-color: #29ab87;
                }
                
            }
        }

    }

}