.hero{
    display: flex;
    max-width: 62rem;
    margin: auto;
    
    .hro-cont{
        width: 100vw;
        

        @include breakpoint-down(small){
            display: flex;
            flex-direction: column;
            align-items: center;
            
        }

        @include breakpoint-down(medium){
            display: flex;
            overflow: visible;
            align-items: center;
            
        }

        @include breakpoint-up(large){
            display: flex;
            overflow: visible;
            align-items: center;
            
        }

    }

    .hro-txt{
        width: 100vw;
        height: fit-content;
        min-width: 10rem;
        max-width: 38rem;
        
        h1{
            font-weight: 600;
            color: $ash;
            font-size: calc(1vw + 2.7rem);
            overflow-wrap: normal;
            

            #words {
                position: relative;

            }
            
            #words::after {
                content:"";
                animation: move 10s linear infinite;
            }
         
            @include breakpoint-down(small){
                font-size: calc(1vw + 2.5rem);
                
            }

        }

        p{
            padding-top: 1rem;
            font-weight: 300;
            color: #ffffff;
            line-height: 1.3;
            font-size: calc(.35vw + 1rem); 

            @include breakpoint-down(medium){
                font-size: calc(.25vw + 1.25rem);
                
            }
    
            @include breakpoint-down(small){
                font-size: calc(.25vw + 1.125rem);
                
            }

        }
       
    }

    .hro-cta{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        position: relative;
        width: fit-content;
        margin: 0;
        padding-top: 1.5rem;
        
        
        .btn-wrp{
            width: fit-content;
            display: block;

            .mob-cta{
                background-color: $glaceite;
                font-size: $font-med;
                border: none;
                padding: .5rem 1rem;
                cursor: pointer;
                font-weight: 600;
                border-radius: 1rem;
                box-shadow: 0 1px 5px rgba(0,0,0,0.1);
                color: #ffffff;
                text-align: center;
                color: $white;

                &:hover{
                  background-color: $magnetite;
                }
            }
            
            .cta-btn{
              padding: .5rem 1rem;
              border: none;
              border-radius: .75rem;
              background-color: #262626;
              position: relative;
              text-align: left;
              width: 15rem;
              color: $white;
              font-size: 1rem;
              display: flex;
              align-items: center;
              gap: 1rem;

                span{
                    font-size: 1.75rem;
                    display: flex;
                }
            
                &:hover{
                   background-color: #808080;
                }
            }
        }

    }

    .hro-img{
        height: auto;
        max-width: 40rem;

    }

    .hro-img-sm{
        width: 100%;
        height: auto;
        max-width: 35rem;

    }
   
}
