//colors
$black: #000000;
$white: #ffffff;
$atekergreen: #DDFFA6;
$textgray: #DCDCDC;
$defgray: #979797;
$magnetite: #00000040;
$glaceite: #ffffff40;
$junglegreen: #29AB87;
$jungleash: #262626;
$graphite: #6D7278;
$Footer: #F7FFE9;
$ash: #262626;

// font sizes
$font-sm : 0.875rem; // 14px
$font-med: 1rem; // 16px
$font-lg: 1.25rem;
$font-xlg: 3.25rem;

